body {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F9;
  font-family: Arial;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 -10px;
  position: fixed;
  z-index: 1;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13%;
  border-bottom: 1px solid #E6E6EA;
  width: 100%;
}

.top-left img {
  height: 47px;
  padding: 10px 0;
}

.top-right {
  display: flex;
  width: 221px;
  justify-content: flex-end;
}

.top-right img, .interactive img, .last img {
  height: 20px;
  padding-top: 10px;
  padding: 10px;
}

.search {
  width: 215px;
}

#search {
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6EA;
  outline: none;
  text-align: center;
  background-color: #F8F8F9;
}

/* main */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.container {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  background-color: white;
  border: 1px solid #E6E6EA;
  margin-bottom: 50px;
}

.header, .side-bar-stories {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  padding: 8px;
}

.side-bar-stories {
  padding: 5px 0;
}

.stories, .header, .side-bar-stories {
  font-size: 14px;
}

.stories {
  color: grey;
}

.header img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #E6E6EA;
}

.user {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
}

.name, .likes, .stories, .watch {
  font-weight: bold;
}

.image img {
  width: 100%;
}

.media, .interactive {
  display: flex;
  flex-direction: row;
}

.last {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social {
  padding: 0 18px;
  font-size: 14px;
}

.social div {
  padding: 4px 0;
}

span {
  font-weight: normal;
}

#comment {
  height: 25px;
  border: none;
  height: 50px;
  font-size: 14px;
  border-top: 1px solid #E6E6EA;
}

input[type=text] {
  width: calc(100%);
}

input[type=text]:focus {
  outline:none;
}

.side-bar {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 20px;
  width: 23%;
  height: 50%;
  box-shadow: 0 4px 2px -2px #E6E6E8;
  color: black;
  position: -webkit-sticky;
  top: 90px;
  align-self: flex-start;
}

.side-bar-user {
  display: flex;
  padding-bottom: 6px;
  font-size: 14px;
  border-bottom: 1px solid #E6E6EA;
}

.side-bar-user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #E6E6EA;
}

.side-bar-stories img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid red;
}

.links {
  font-size: 12px;
  padding: 15px 0;
}

.links a {
  text-decoration: none;
}

.links a:visited, .links a:link, .links {
  color: #C4C2C2;
}

.side-bar-content {
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  height: 300px;
  border-bottom: 1px solid #E6E6EA;
}

.side-bar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}

.sub-user, .sub, .time {
  color: grey;
}

.sub, .time {
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 4px;
}

.watch {
  font-size: 12px;
}
